*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #2e2e2e;
}
a {
  text-decoration: none;
  color: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}


.container {
  max-width: 768px;
  margin: 0 auto;
  padding: 0 20px;
}
.header {
  background: url("/assets/img/'t\ Zeezotje-5\ 1.png") center center/cover
    no-repeat;
  width: 100%;
}
.header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  color: #ffffff;
  flex-direction: row;
  flex-wrap: nowrap;
}
.logo svg {
  width: 150px;
  text-align: left;
}

.header__navigation a:hover {
  transition: 0.7s ease;
  color: #d3b47f;
}
.header__contact {
  display: flex;
  font-size: 17px;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  padding-top: 50px;
}

.header__contact a:hover {
  transition: 0.7s ease;
  color: #d3b47f;
}
.header__content {
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  color: #ffffff;
  padding-top: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.header__content h1 {
  font-weight: 700;
  font-size: 64px;
  line-height: 88px;
  padding: 24px 0 70px 0;
}
.header__btn {
  color: #ffffff;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  width: 300px;
  max-width: 100%;
  height: 70px;
  background: #3a4574;
  border: none;
  cursor: pointer;
  transition: 0.9s ease;
}
.header__btn:hover {
  opacity: 0.95;
  background: #d3b47f;
}

.connection {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.networks {
  width: 300px;
  max-width: 100%;
  padding: 40px 0 40px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.net:hover path {
  fill: #d3b47f;
  transition: 0.7s ease;
}
.net:hover circle {
  stroke: #d3b47f;
  transition: 0.7s ease;
}

.menu {
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  right: -100%;
  width: 100%;
  background: #3a4574fa;
  z-index: 1;
  transition: 0.9s all;
  text-align: center;
  display: none;
}
.menu_active {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 656px;
  left: 0;
}
.menu_active li {
  padding-bottom: 40px;
  font-size: 17px;
}

.menu .menu_item {
  padding-right: 0;
  border: none;
}

.hamburger {
  padding: 5px 4px;
  transform: translateY(-50%);
  width: 26px;
  cursor: pointer;
  border: 1px solid #fff;
  margin-top: 16px;
  z-index: 3;
}

.hamburger span {
  display: block;
  height: 2px;
  width: 100%;
  background-color: #fff;
  margin-bottom: 2px;
  transition: 0.5s all;
}
.hamburger_active {
  border: none;
}

.hamburger_active span {
  margin-bottom: -2px;
}

.hamburger_active span:nth-child(1) {
  transform: translateY(3px) rotate(-45deg);
}

.hamburger_active span:nth-child(2) {
  display: none;
}

.hamburger_active span:nth-child(3) {
  transform: translateY(3px) rotate(45deg);
}

.header__content h1 {
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  padding: 24px 0 40px 0;
}
.main__events {
  padding-top: 40px;
}
.main__event p {
  font-weight: 400;
  font-size: 12px;
  line-height: 32px;
}
.line {
  margin: 20px 0;
  width: 100%;
  border: 1px solid #e7e7e7;
}
.main__event-photo {
  display: flex;
  margin: 0 auto;
  gap: 15px;
  width: 300px;
}
.main__event-photo img {
  width: 47%;
  z-index: 1;
}
.second {
  padding-bottom: 152px;
}
.first {
  padding-top: 152px;
  z-index: 1;
}
.gook {
  position: absolute;
  width: 150px;
  height: 150px;
  margin-top: 110px;
  margin-left: 77px;
  z-index: 0;
  border: 2px solid #d3b47f;
}
.reviews {
  margin-top: 20px;
  min-height: 292px;
  background-color: #3a4574;
}
.popups__inner {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  display: none;
}
.popup {
  position: relative;
  background: #fff;
  padding: 80px 0px;
  width: 600px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}
.popup input {
  display: block;
  margin: 0 auto 15px;
  width: 300px;
  border: 1px solid #cccccc;
  padding: 15px 25px;
}
.btn {
  color: #ffffff;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  width: 300px;
  height: 70px;
  background: #3a4574;
  border: none;
  cursor: pointer;
  transition: 0.9s ease;
}
.btn:hover {
  opacity: 0.95;
  background: #d3b47f;
}
.popup p {
  margin: 5px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}
.popups__inner.active {
  display: flex;
}

a.close_popup {
  position: absolute;
  top: 9px;
  right: 22px;
  font-style: 30px;
  color: #cccccc;
  cursor: pointer;
}

.block {
  display: flex;
}
.block__body {
  flex: 1 1 auto;
  min-width: 0;
}

.review-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 34px 50px;
}
.review-wrapper svg {
  width: 30px;
}
.review-wrapper h3 {
  font-weight: 600;
  font-size: 18px;
  line-height: 40px;
  color: #d3b47f;
  padding-top: 34px;
  text-align: center;
}
.review-wrapper p {
  font-weight: 400;
  font-size: 12px;
  line-height: 40px;
  color: #ffffff;
  padding-top: 20px;
  text-align: center;
}
.client-name {
  font-weight: 600;
  font-size: 16px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.245em;
  color: #d3b47f;
  padding: 40px 0;
}
.custom-prev {
  color: #d3b47f;
}

.custom-next {
  color: #d3b47f;
}
